.toggle-button{
    display: flex;
    flex-direction: column;
    height: 24px;
    width: 36px;
    background: transparent;
    border: none;
    cursor: pointer;
    padding: 0;
    justify-content: space-around;
    box-sizing: border-box;

    transition: all 0.5s;
    -webkit-transition: all 0.25s;
}

.toggle-button:focus{
    outline: none;
}

.toggle-button:active,
.toggle-button:hover{
    transform: rotate(90deg);
    color: #FF9900;
}

.toggle-button__line {
    width: 30px;
    height: 2px;
    background: white;
}